header{
    background-color: #EDEDED;
    padding: 1.5%;
}
.img{
    margin-left: 600px;
}
.la{
    margin-left: 730px;
    margin-top: -98px;
}
.na{
    margin-left: 740px;
}
.mar{
    font-size: xx-large;
}
.bor{
    margin-left: 600px;
    margin-right: 500px;
    
}
.ma{
    border-style: solid;
    background-color: #202020;
    border-radius: 10px;
    color: white;
    height: 70px;
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
.text{
    border-style: solid;
    margin: 10px 400px 10px 500px;
    border-color: #6AC5AC;
}
.text2{
    text-align: left;
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
}
.but{
    margin-left: 650px;
    margin-top: 30px;
}
.prev{
    background-color: #D64078;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border-style: none;
}
.prev1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
}
.but2{
    margin-left: 850px;
    margin-top: -30px;
}
.home{
    background-color: #D64078;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border-style: none;
}
.home1{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: large;
}
.num{
    margin-left: 793px;
    margin-top: -38px;
}
.num1{
    font-size: large;
}
.foot{
    background-color: #EDEDED;
    padding: 30px;
}
.inst{
    margin-left: 650PX;
    margin-top: -20PX;
}
.inst1{
    background-color: #D64078;
    border-radius: 30px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    width: 100px;
    height: 28px;
}
.inst2{
    color: white;
    text-decoration: none;
}
i{
    margin-left: 5px;
}
.fb{
    margin-left: 790px;
    margin-top: -28px;
}
.fb1{
    background-color: #D64078;
    border-radius: 30px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    width: 100px;
    height: 28px;
}
.fb2{
    color: white;
    text-decoration: none;
}